<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>User Home Page</title>
  <!--Bootstrap & Icons-->
  <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"  media="screen,projection"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

<!--  calendar stuff-->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/fonts/icomoon/style.css">
  <link href='/fullcalendar/packages/core/main.css' rel='stylesheet'/>
  <link href='/fullcalendar/packages/daygrid/main.css' rel='stylesheet'/>
  <link rel="stylesheet" href="/css/style.css"/>

<!--  end of calendar stuff-->

</head>
<body>

<%-include("partials/navAndSidebar")-%>

<div class="row align-items-center">
  <h1 class="text-center" id="nameBanner">Welcome, <%=obj.user.first%>!</h1>
</div>

<!--<div class="row justify-content-md-center">-->
<!--  <div class="col-2">-->
<!--    <img src="https://media.istockphoto.com/photos/professional-it-technical-support-specialist-and-software-developer-picture-id1316574211" alt="placeholder profile pic" width="200" height="200">-->
<!--  </div>-->
<!--  <div class="col-3">-->
<!--    <h4> About me: </h4>-->
<!--    <p id = "bioText"> </p>-->
<!--    <h4 id="cubvotes"> </h4>-->
<!--    <form action = "/" method = "post">-->
<!--      <button type="submit" name="loginBtn" value="logging" class="btn btn-primary">Edit my personal details</button>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->

<br>
<br>


<div class="container">
  <div class="row">
    <div class="col-6 groups">
      <h2 class="text-center">Your Groups:</h2>
      <% let counter = 0;%>
      <% let rowClosed; %>
      <% obj.groups.forEach((group) => { %>
        <%# if we hit a 6th item, create a new row  %>
        <% if (counter % 3 == 0) { %>
        <div class="row justify-content-center">
          <% rowClosed = false; %>
          <% } %>
          <%# start of group card   %>
          <div class="col-sm">
            <div class="card mb-3" style="width: 15rem; height: 12rem">
              <div class="card-body">
                <h2 class="card-title"><%=group.group_name%></h2>
                <p class="card-text"><%=group.group_desc%></p>
                <form action="/groupMenuPage" method="post">
                  <input type="text" name="group_id" style="display:none" value=<%=group.group_id%>>
                  <button type="submit" style = "width: 100%" name="button" class="btn btn-primary btn-block">Enter</button>
                </form>
              </div>
            </div>
          </div>
          <% if (counter % 3 == 1) {%>
            <% rowClosed = true %>
        </div>
        <%}%>
        <% counter++; %>
      <%});%>
    </div>
    <div class="col-6 calendar">
      <div class="content" style="padding: 0!important">
        <div id='calendar'></div>
      </div>

<!--      <script src="js/jquery-3.3.1.min.js"></script>-->
      <script src="/js/popper.min.js"></script>
<!--      <script src="js/bootstrap.min.js"></script>-->

      <script src='/fullcalendar/packages/core/main.js'></script>
      <script src='/fullcalendar/packages/interaction/main.js'></script>
      <script src='/fullcalendar/packages/daygrid/main.js'></script>

      <script>



        document.addEventListener('DOMContentLoaded', function() {
          var calendarEl = document.getElementById('calendar');
          //console.log(<%=obj%>);
          var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: [ 'interaction', 'dayGrid' ],
            defaultDate: '2020-02-11',
            editable: true,
            eventLimit: false, // allow "more" link when too many events
            events: [
              {
                title: 'All Day Event',
                start: '2020-02-01'
              },
              {
                title: 'Long Event',
                start: '2020-02-07',
                end: '2020-02-10'
              },
              {
                groupId: 999,
                title: 'Repeating Event',
                start: '2020-02-09T16:00:00'
              },
              {
                groupId: 999,
                title: 'Repeating Event',
                start: '2020-02-16T16:00:00'
              },
              {
                title: 'Conference',
                start: '2020-02-11',
                end: '2020-02-13'
              },
              {
                title: 'Meeting',
                start: '2020-02-12T10:30:00',
                end: '2020-02-12T12:30:00'
              },
              {
                title: 'Lunch',
                start: '2020-02-12T12:00:00'
              },
              {
                title: 'Meeting',
                start: '2020-02-12T14:30:00'
              },
              {
                title: 'Happy Hour',
                start: '2020-02-12T17:30:00'
              },
              {
                title: 'Dinner',
                start: '2020-02-12T20:00:00'
              },
              {
                title: 'Birthday Party',
                start: '2020-02-13T07:00:00'
              },
              {
                title: 'Click for Google',
                url: 'http://google.com/',
                start: '2020-02-28'
              }
            ]
          });

          calendar.render();
        });

      </script>
    </div>
  </div>


  <div class="row justify-content-left">
    <div class="col-3">
        <a href="/group"><button type="submit" name="createGrpBtn" value="logging" class="btn btn-primary">Create a Group</button></a>
        <a href="/groupMenuPage"><button type="submit" name="joinGrpBtn" value="logging" class="btn btn-primary">Join a Group</button></a>
    </div>
  </div>
</div>

<div id="user" style="display:none"><%=email%></div>
<script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
<script src= "/socket.io/socket.io.js"></script>
<script>
  var socket = io();

  window.onload = () => {
    let user  = document.getElementById("user").innerHTML;
    // Connected, let's sign-up for to receive messages for this room
    socket.emit('connection', user);
  }

</script>

</body>
</html>
